.paneelid {
    display: flex;
  }
  
  #matkad {
    display: flex;
    flex-direction: column;
  }
  
  #matkad > a, 
  #uus-matk label,
  #uus-matk input,
  #uus-matk > a {
    font-size: 18px;
  }
  
  #matkad > a:last-child {
    margin-top: 10px;
  }
  
  #uus-matk {
    display: none;
    flex-direction: column;
    margin-left: 30px;
  }
  
  #uus-matk > div {
    display: flex;
    flex-direction: column;
  }
  
  #uus-matk > button {
    margin-top: 15px;
    margin-bottom: 5px;
  }